body {
    background-color: rgb(156, 47, 19);
    margin: 0px;
  }
  
  
  .board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(156, 47, 19);
    color: white;
    
    justify-content: center;
    padding: 10%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  
    margin-right: 10%;
    box-shadow: rgb(156, 47, 19) 0px 20px 30px -10px;
  
  }
  
  
  #GameBoard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
    /* grid-template-columns: repeat(3, auto) */
  
  }
  
  .cell {
    color: aqua;
    font-size: 2em;
    /* background-color: rgb(160, 33, 33); */
    /* margin: 1vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2em solid blue;
    border-radius: 10%;
  }
  
  
  /* Removing Border */
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:nth-child(7),
  .cell:nth-child(8),
  .cell:nth-child(9) {
    border-bottom: none;
  }
  
  
  /* strike the complete line */
  .strike {
    background-color: aquamarine;
    position: absolute;
  }
  
  .strike-row1 {
    width: 100%;
    height: 4px;
    top: 15%;
  }
  
  .strike-row2 {
    width: 100%;
    height: 4px;
    top: 49%;
  }
  
  .strike-row3 {
    width: 100%;
    height: 4px;
    top: 83%;
  }
  
  .strike-col1 {
    height: 100%;
    width: 4px;
    left: 15%;
  }
  
  .strike-col2 {
    height: 100%;
    width: 4px;
    left: 49%;
  }
  
  .strike-col3 {
    height: 100%;
    width: 4px;
    left: 83%;
  }
  
  .strike-diag1 {
    height: 6px;
    width: 90%;
    top: 50%;
    left: 6%;
    transform: skewy(45deg);
  }
  
  .strike-diag2 {
    height: 6px;
    width: 90%;
    top: 50%;
    left: 5%;
    transform: skewy(-45deg);
  }
  
  .GameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 10px solid rgb(220, 143, 143);
    width: 50%;
    padding: 50px;
    justify-content: center;
  }
  
  h2 {
    font-size: 3em;
  }
  
  button {
    background-color: transparent;
    color: black;
    border: 1px solid blue;
    padding: 10px;
    font-size: 2em;
    margin-left: 20px;
    border-color: brown;
    border-style: dashed;
  }
  
  .show {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  .x-hover:hover::after {
    content: "X";
  
  }
  
  .o-hover:hover::after {
    content: "O";
    opacity: 0.3;
    color: white;
  
  }
  
  .img{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 20px;
    height: 20vh;
    text-align: center;

    
  }
  img{
    height: 240px;
    width: 600px;
  }

  .gif{
    height: 300px;
    width: 300px;
  }
  footer{
    background-color: bisque;
      padding: 15px 23px;
      background-image: linear-gradient(rgb(43, 148, 218),rgb(186, 234, 238));
      text-align: center;
      position: fixed;
      bottom: 0px;
      width: 100%;
      font-size: large;
  }
  footer span a{
      color: crimson;
      text-decoration: none;
  }
  footer span a:hover{
      text-decoration: underline;
  }